:root {
  --load: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 50 50' xml:space='preserve'%3E%3Cpath fill='%23000' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3C/path%3E%3C/svg%3E");
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 157, 157, 0.2);

  &::before {
    content: "";
    background-image: var(--load);
    background-repeat: no-repeat;
    background-size: toRem(80);
    background-position: center;
    display: block;
    width: toRem(80);
    height: toRem(80);
    animation: loader 1s linear infinite;
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
