// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	padding: toRem(10) toRem(15);
	border-radius: toRem(5);
	position: relative;
	list-style: none;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	._spoller-init & {
		cursor: pointer;
		&::after {
			content: "";
			// @extend %ic;
			transition: transform 0.5s ease 0s;
		}
		&._spoller-active {
			&::after {
				transform: rotate(180deg);
			}
		}

		/* Якщо є вкладені пройлери
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		*/
	}
}
// Контент спойлера
.spollers__body {
	padding: toRem(20);
	border-radius: toRem(5);
	border: 1px solid #eee;
}
