//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: toRem(10);

	font-family: var(--button-family);
	line-height: 150%;
	font-weight: 600;
	font-size: toRem(20);
	text-transform: capitalize;

	color: #fff;
	background-color: #0AF;
	border-radius: toRem(10);
	padding: toRem(6) toRem(30);
	min-height: toRem(50);

	transition:
		background-color 0.3s ease,
		border-color 0.3s ease,
		color 0.3s ease,
		opacity 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&__img {
		display: flex;
		flex: 0 0 toRem(24);
		aspect-ratio: 1;
	}

	&_big {
		// font-weight: 500;
		// font-size: toRem(16);

		// padding: toRem(5) toRem(24);
		min-height: toRem(50);
	}

	&_line {
		// border: 1px solid #b2b2b2;
		background-color: #fff;
		color: #312f37;
		font-size: toRem(16);
		line-height: 150%;
		font-weight: 500;

		@media (any-hover: hover) {
			&:hover {
				background-color: #2a2a2a;
				color: #f8f9ec;
				border-color: transparent;
				opacity: 0.8;
			}
		}
	}

	&_transparent {
		border: 1px solid #fff;
		color: #fff;
		background-color: transparent;

		@media (any-hover: hover) {
			&:hover {
				background-color: #0AF;
				border: 1px solid #0AF;
				opacity: 1;
			}
		}
	}

	&_grey {
		background-color: #e9eae0;
		color: #2a2a2a;
	}

	&_yellow {
		background-color: #FFED48;
		color: #161920;

		@media (any-hover: hover) {
			&:hover {
				background-color: #0AF;
				border: 1px solid #0AF;
				color: #fff;
				opacity: 1;
			}
		}
	}

	&_fw {
		width: 100%;
	}
}
