//<FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
@import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
@import "radio";

// <SELECT>
// Сніппет (HTML): sel
@import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";

.field {
	&__title {
		font-weight: 700;
		font-size: toRem(18);
		line-height: 143%;
		color: #ffff;
		margin-bottom: toRem(10);
		text-transform: capitalize;

		.field_second & {
			color: #fff;
		}
	}

	&__input {
	}
}

.valid-password {
	display: grid;
	gap: toRem(12);

	&__line {
		font-size: toRem(16);
		line-height: 150%;
		color: #fff;

		display: flex;
		align-items: center;
		gap: toRem(8);

		&::before {
			align-self: center;
			flex: 0 0 toRem(20);
			width: toRem(20);
			height: toRem(20);
			font-size: toRem(16);
			color: #022750;

			display: flex;
			justify-content: center;
			align-items: center;

			background-color: rgba(255, 255, 255, 0.60);
			border-radius: toRem(4);	
		}
	}
}

.form {
	padding: 0 7px;

	&__fields {
		& > * {
			margin-bottom: toRem(20);
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&__field {
		width: 100%;
	}

	&__assets {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: toRem(10);
	}

	&__checkbox {
	}

	&__assets-link {
		font-weight: 600;
		font-size: toRem(16);
		line-height: 143%;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}

	&__valid-password {
	}

	&__text {
		font-size: toRem(14);
		line-height: 138%;
		text-align: center;
		color: #fff;
	}

	&__buttons {
		display: grid;
		justify-items: center;
		& > * {
			margin-bottom: toRem(16);

			& + .form__button-back {
				margin-top: toRem(16);
			}
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&__button {
		width: 100%;
	}

	&__button-back {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: toRem(16);
		line-height: 143%;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

//========================================================================================================================================================

.form-profile {
	&__fields {
		display: grid;
		gap: toRem(20);
	}

	&__field {
		width: 100%;

		.field__title {
			margin-bottom: toRem(20);
		}
	}

	&__buttons {
		margin-top: toRem(30);
		display: flex;
		justify-content: flex-end;
		gap: toRem(10);
	}

	&__button {
		margin-top: toRem(30);
		width: 100%;
	}
}

//========================================================================================================================================================

.up-balance-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	& > * {
		@include adaptiveValue("margin-bottom", 30, 30);
	}
	&__field {
		width: 100%;
	}

	&__options {
		width: 100%;
	}

	&__button {
		align-self: flex-end;
	}
	& > :last-child {
		margin-bottom: 0;
		width: 100%;
	}
}

//========================================================================================================================================================
