//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	caret-color: inherit;
	border-radius: toRem(16);
	padding: 0 toRem(14);
	min-height: toRem(40);
	outline: toRem(1) solid transparent;
	background-color: #F6F3EC;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: toRem(16);
	color: #2A2A2A;

	&:focus {
		outline-color: #2A2A2A;
	}
	&::placeholder {
		color: #2A2A2A;
	}

	&._form-focus {
	}
	&._form-error {
	}

	&_big {
		min-height: toRem(42);
	}
	&_second {
		outline: 0;
		border: toRem(1) solid #737373;

		background-color: #F6F3EC;
		color: #2A2A2A;

		&:focus {
			border-color: #000;
		}
		&::placeholder {
			color: #2A2A2A;
		}
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
