.options {
	display: flex;
	gap: toRem(10);
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
	}
	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .options__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked + .options__label {
			background-color: #2a2a2a;
			color: #f8f9ec;
		}
	}
	// .options__label
	&__label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		gap: 10px;
		padding: toRem(5) toRem(20);
		min-height: toRem(40);

		background-color: #e9eae0;
		border-radius: toRem(16);

		font-weight: 700;
		font-size: toRem(14);
		line-height: 171%;
		color: #2a2a2a;

		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background-color: #2a2a2a;
				color: #f8f9ec;
			}
		}
	}
	// .options__text
	&__text {
	}
}

.amount-options {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(10);

	&__item {
		flex: 0 1 toRem(84);
		position: relative;
		cursor: pointer;

		@media (max-width: $mobile) {
			flex: 0 1 toRem(80);
		}
	}
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .amount-options__label {
			outline: 1px solid #002eff;
			outline-offset: 4px;
		}

		&:checked + .amount-options__label {
			background-color: #F65C5F;
			color: #F6F3EC;
		}
	}

	&__label {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		// padding: toRem(15) toRem(20);
		min-height: toRem(60);
		border-radius: toRem(30);

		font-weight: 700;
		font-size: toRem(18);
		line-height: 133%;
		color: #2a2a2a;
		background-color: #F6F3EC;

		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background-color: #F65C5F;
				color: #F6F3EC;
			}
		}

		@media (max-width: $mobile) {
			min-height: toRem(50);
		}
	}

	&__text {
	}
}
