@font-face {
	font-family: "BBH Hegarty";
	font-display: swap;
	src: url("../fonts/BBHHegarty-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: iconfont;
	font-display: swap;
	src: url("../fonts/iconfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Manrope;
	font-display: swap;
	src: url("../fonts/Manrope-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
